# Opdracht oefenen met Pandas (dataset 'Wildlife Airstrikes')

## Het bestand *wildlife_strikes.csv* bevat data over dieren die in aanraking zijn gekomen met vliegtuigen. Dit is echte data die afkomstig is uit rapporten van de Amerikaanse Federal Aviation Association. Schrijf Python code om de volgende vragen te beantwoorden:

1) Laad het bestand in als DataFrame en toon de eerste 5 rijen van de tabel

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
strikes = pd.read_csv('wildlife_strikes.csv')
strikes.head(5)

C:\Users\mathi\AppData\Local\Temp\ipykernel_20696\1919269846.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Mass,Engines,...,Fuselage Strike,Fuselage Damage,Landing Gear Strike,Landing Gear Damage,Tail Strike,Tail Damage,Lights Strike,Lights Damage,Other Strike,Other Damage
0,127128,1990,1,1,DAL,DELTA AIR LINES,B-757-200,A,4.0,2.0,...,0,0,0,0,1,1,0,0,0,0
1,129779,1990,1,1,HAL,HAWAIIAN AIR,DC-9,A,4.0,2.0,...,0,0,0,0,0,0,0,0,1,0
2,129780,1990,1,2,UNK,UNKNOWN,UNKNOWN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,2258,1990,1,3,MIL,MILITARY,A-10A,A,3.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,2257,1990,1,3,MIL,MILITARY,F-16,A,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

2) Geef de vluchten weer waarbij mensen om het leven zijn gekomen.Toon de volgende kolommen:

  * Incident Year
  * Operator
  * Aircraft
  * Airport
  * Flight Phase
  * Height
  * Speed
  * Species Name
  * Flight Impact
  * Fatalities

In [ ]:
columns = ['Incident Year', 'Operator', 'Aircraft', 'Airport', 'Flight Phase', 
           'Height', 'Speed', 'Species Name', 'Flight Impact', 'Fatalities']

strikes.query("Fatalities > 0")[columns]

# of:
# strikes[strikes['Fatalities']>0][columns]

3) Gebruik matplotlib om een lijngrafiek te maken die het aantal incidenten per jaar toont. Op de x-as staan de jaartallen en op de y-as het aantal incidenten.

In [ ]:
strikes.groupby('Incident Year').size().plot()
plt.ylabel('Number of incidents')
plt.show()

4) Wat is de hoogste snelheid waarmee een vliegtuig een dier heeft geraakt? Toon van dit incident de volgende kolommen:

  * Incident Year
  * Operator
  * Aircraft
  * Speed
  * Species Name

In [ ]:
columns = ['Incident Year', 'Operator', 'Aircraft', 'Speed', 'Species Name']
strikes.query("Speed == Speed.max()")[columns]

# of:
# strikes[strikes['Speed'] == strikes['Speed'].max()][columns]

5) Wat is de gemiddelde hoogte waarop de incidenten plaatsvinden? Laat bij je berekening alle incidenten die op de grond plaatsvinden buiten beschouwing.

In [ ]:
strikes.query("Height != 0")['Height'].mean()

# of:
# strikes[strikes['Height']!=0]['Height'].mean()

6) Toon in een staafgrafiek het aantal incidenten per maand. Op de x-as staan dus de maanden, en op de y-as het aantal incidenten.

In [ ]:
import calendar
strikes.groupby('Incident Month').size().plot.bar()
plt.ylabel('Total no. of incidents')
plt.xticks(np.arange(12), calendar.month_abbr[1:13])
plt.show()

7) Vinden incidenten 's nachts op een andere hoogte plaats dan overdag? Toon in een staafgrafiek de gemiddelde hoogte waarop incidenten plaatsvonden, uitgesplitst op de kolom 'Visibility'. Op de x-as staat dus de visibility en op de y-as de gemiddelde hoogte.

In [ ]:
strikes.groupby('Visibility')['Height'].mean().plot.bar()
plt.show()

8) Toon alle diersoorten uit de tabel netjes onder elkaar, waarbij ieder dier maar één keer mag voorkomen. Sorteer op alfabetische volgorde.

In [ ]:
uniek = strikes['Species Name'].sort_values().unique()
mask = pd.notnull(uniek)  #Om de regel met NaN te verwijderen
uniek = uniek[mask]       #Om de regel met NaN te verwijderen
pd.DataFrame(uniek)

Het bestand 'birds.txt' bevat Engelse namen van bijna 1000 vogelsoorten. Gebruik dit bestand om de volgende vraag te kunnen maken.

9) Toon alle dieren uit de dataset, die géén vogels zijn. Toon twee kolommen: de naam van het dier en hoe vaak hij voorkomt in de dataset. Sorteer op de tweede kolom (van hoog naar laag).

In [ ]:
birds = np.loadtxt('birds.txt', dtype=str, delimiter=",")

not_birds = strikes[(~strikes['Species Name'].isin(birds)) &   # ipv ~ kan ook ==False
        (strikes['Species Name'].str.contains('BIRD')==False)]

# of:
# notnull = strikes[pd.notnull(strikes['Species Name'])]
# not_birds = notnull.query("`Species Name` not in @birds and \
#                            not `Species Name`.str.contains('BIRD')")

#Om alle output te laten zien kun je de volgende coderegel gebruiken:
#pd.set_option('display.max_rows', None)
#En om de optie weer uit te zetten kun je later in de notebook de volgende regel gebruiken:
#pd.reset_option('display.max_rows')

not_birds.groupby('Species Name').size().sort_values(ascending=False)

10) Er zijn veertien kolommen die aangeven of een onderdeel van het vliegtuig beschadigd is geraakt (van *Radome Damage* t/m *Other Damage*). Laat zien bij welke incidenten het grootste aantal onderdelen van het vliegtuig beschadigd zijn geraakt. Toon de kolommen *Aircraft*, *Species Name* en alle veertien damage kolommen.

In [2]:
damage_columns = ['Radome Damage', 'Windshield Damage', 'Nose Damage', 'Engine1 Damage', 'Engine2 Damage', 
           'Engine3 Damage', 'Engine4 Damage', 'Propeller Damage', 'Wing or Rotor Damage', 
           'Fuselage Damage', 'Landing Gear Damage', 'Tail Damage', 'Lights Damage', 'Other Damage']
show_columns = ['Aircraft', 'Species Name'] + damage_columns
sum_damage = strikes[damage_columns].sum(axis = 1)
strikes[sum_damage == sum_damage.max()][show_columns]
# of:
# strikes.query("@sum_damage == @sum_damage.max()")[show_columns]

,Aircraft,Species Name,Radome Damage,Windshield Damage,Nose Damage,Engine1 Damage,Engine2 Damage,Engine3 Damage,Engine4 Damage,Propeller Damage,Wing or Rotor Damage,Fuselage Damage,Landing Gear Damage,Tail Damage,Lights Damage,Other Damage
5659,HOMEBUILT,UNKNOWN LARGE BIRD,1,1,1,1,0,0,0,1,1,1,1,1,1,1
5691,G-164 AG CAT,UNKNOWN MEDIUM BIRD,1,1,1,1,0,0,0,1,1,1,1,1,1,1
34429,C-310,CANADA GOOSE,0,1,1,1,1,0,0,1,1,1,1,1,1,1
39213,LEARJET-60,WHITE-TAILED DEER,1,1,1,1,1,0,0,0,1,1,1,1,1,1
51745,LEARJET-36,WAPITI (ELK),1,1,1,1,1,0,0,1,1,1,1,1,1,0
57889,LEARJET-24,UNKNOWN SMALL BIRD,1,1,1,1,1,0,0,1,1,1,1,1,1,0
91033,B-747-1/200,EURASIAN KESTREL,1,0,1,1,1,1,1,0,1,1,1,1,1,0

11) Toon van alle diersoorten die in de dataset voorkomen de volgende gegevens:
* de maximale hoogte waarop een individu van de soort in aanraking is gekomen met een vliegtuig
* de minimale hoogte
* de gemiddelde hoogte
* het aantal incidenten waarbij deze diersoort betrokken was

Zorg dat je alle incidenten die op de grond (height=0) plaatsvinden niet meeneemt. Sorteer op de maximale hoogte (van hoog naar laag).

De geoorde fuut (eared grebe, *Podiceps nigricollis*) vliegt volgens de IUCN (International Union for Conservation of Nature) op een maximale hoogte van 2500 meter ([link](http://www.iucnredlist.org/details/22696610/0)). De *wildlife strikes* dataset toont de hoogte in *feet*. Geeft deze dataset reden om ons beeld van deze fuut bij te stellen?

In [3]:
pd.set_option('display.max_rows', None)
grouped_by_species = strikes.query("Height > 0").groupby('Species Name')
# of: 
# grouped_by_species = strikes[strikes['Height']>0].groupby('Species Name')
grouped_by_species['Height'].agg(['max', 'min', 'mean', 'count']).sort_values(by='max', ascending=False)

#EARED GREBE: 20000 feet = 6096 meter. Dus veel hoger dan wat bekend is.

                                   max      min          mean  count
Species Name
UNKNOWN BIRD                   31300.0      1.0   2193.074914   2029
UNKNOWN MEDIUM BIRD            30000.0      1.0   2113.619301  15792
UNKNOWN SMALL BIRD             25000.0      1.0   1325.001366  19764
UNKNOWN LARGE BIRD             23000.0      1.0   2539.885455   2200
LESSER YELLOWLEGS              20000.0   1700.0   9925.000000      4
EARED GREBE                    20000.0  20000.0  20000.000000      1
UNKNOWN BIRDS                  20000.0      1.0   1495.545704   1455
GULL                           16000.0      1.0    564.007029   3130
WHITE-THROATED SPARROW         15000.0     75.0   2162.735849     53
DARK-EYED JUNCO                15000.0     20.0   1904.523810     42
CHIPPING SPARROW               15000.0    100.0   2103.125000     16
HORNED LARK                    15000.0      2.0    418.553672    354
AMERICAN ROBIN                 15000.0      1.0   1928.207237    304
LONG-BILLED CURLEW             15000.0  15000.0  15000.000000      1
NORTHERN PINTAIL               14000.0     10.0   1883.785047    107
NORTHERN SHOVELER              14000.0     10.0   3001.276596     47
BLUE-WINGED TEAL               14000.0    100.0   3017.391304     23
VARIED THRUSH                  14000.0    200.0   4292.857143     14
RED-TAILED HAWK                14000.0      1.0    502.512644    435
BLACKBIRD                      14000.0      1.0    601.180124    805
SPARROW                        13800.0      1.0    427.142584   1045
RED-NECKED PHALAROPE           13400.0    200.0   5450.000000      4
TURKEY VULTURE                 13000.0      1.0   1100.375854    439
EASTERN PHOEBE                 13000.0      5.0   3261.428571      7
CANADA GOOSE                   13000.0      1.0   1115.772517    866
WHITE-THROATED SWIFT           12000.0     50.0   1525.000000     18
DUCK                           12000.0      5.0   1463.722320    569
SNOW GOOSE                     12000.0     50.0   3040.833333    108
MARBLED GODWIT                 12000.0  12000.0  12000.000000      1
WHIMBREL                       12000.0  12000.0  12000.000000      1
YELLOW-BILLED CUCKOO           12000.0    700.0   3829.166667     12
HAWK                           12000.0      1.0    768.295255    569
YELLOW-BELLIED SAPSUCKER       11500.0     50.0   3420.000000     25
RED-EYED VIREO                 11000.0    100.0   2284.116279     43
VEERY                          11000.0    500.0   3128.571429      7
PACIFIC-SLOPE FLYCATCHER       11000.0   5000.0   7000.000000      3
SEMIPALMATED PLOVER            11000.0     15.0   1086.818182     11
FOX SPARROW                    11000.0    300.0   3710.000000     10
KILLDEER                       11000.0      1.0    219.335681    426
AMERICAN COOT                  11000.0      5.0   1968.164557     79
GREATER YELLOWLEGS             11000.0    400.0   5100.000000      4
PECTORAL SANDPIPER             10400.0     30.0   3807.272727     11
WOOD WARBLER                   10000.0     10.0   2748.823529     17
COMMON YELLOWTHROAT            10000.0    200.0   2208.695652     23
WILSON'S PHALAROPE             10000.0    400.0   4034.545455     11
LEAST FLYCATCHER               10000.0   4000.0   7566.666667      3
YELLOW WARBLER                 10000.0    120.0   4600.090909     11
WESTERN SANDPIPER              10000.0      1.0   1405.346154     26
SWAINSON'S THRUSH              10000.0    100.0   3276.984127     63
CHIMNEY SWIFT                  10000.0     10.0    835.220884    249
BLACK-BELLIED PLOVER           10000.0     10.0   1412.352941     17
BANK SWALLOW                   10000.0      5.0    399.126984     63
BALTIMORE ORIOLE               10000.0     50.0   2313.333333     15
HORNED GREBE                    9800.0    146.0   3611.500000      4
MALLARD                         9500.0      1.0   1062.520767    313
SANDHILL CRANE                  9500.0      5.0    730.085714     35
DUSKY FLYCATCHER                9500.0   9500.0   9500.000000      1
RED-NAPED SAPSUCKER             9500.0   2000.0   5166.666667      3
WESTERN GREBE                   9300.0    500.0   1918.181818     11
MOURNING DOVE                   9000.0      1.0    240.113801    826
HOUSE WREN                      9000.0    500.0   2900.000000      8
WILLOW FLYCATCHER               9000.0   1400.0   5200.000000      2
EASTERN WOOD-PEWEE              8700.0    300.0   4500.000000      4
BARN SWALLOW                    8500.0      1.0    223.101243    563
GRASSHOPPER SPARROW             8500.0     10.0   2424.615385     13
WILSON'S SNIPE                  8000.0     10.0   1110.000000     21
SEMIPALMATED SANDPIPER          8000.0     10.0   1100.588235     17
EUROPEAN STARLING               8000.0      1.0    269.314371   1002
SOLITARY SANDPIPER              8000.0   4500.0   6250.000000      2
SWAINSON'S HAWK                 8000.0      1.0    700.323529     34
GREATER WHITE-FRONTED GOOSE     8000.0     10.0   2302.894737     38
SWAMP SPARROW                   8000.0    500.0   2386.666667     15
MEW GULL                        8000.0     10.0    912.083333     12
RUBY-CROWNED KINGLET            8000.0     25.0   2327.631579     19
PURPLE MARTIN                   8000.0      3.0    607.461538     52
WARBLING VIREO                  8000.0    100.0   2233.333333      9
NORTHERN SAW-WHET OWL           8000.0     75.0   4037.500000      2
LARK SPARROW                    7800.0     35.0   3733.750000      4
SPOTTED SANDPIPER               7700.0   7000.0   7350.000000      2
VESPER SPARROW                  7500.0     90.0   1360.000000      9
GRAY CATBIRD                    7500.0     16.0   1851.648649     37
BLUE-GRAY GNATCATCHER           7400.0    200.0   2783.333333      6
WESTERN TANAGER                 7300.0     50.0   1591.666667      6
WESTERN MEADOWLARK              7000.0      1.0    358.146067     89
EASTERN MEADOWLARK              7000.0      3.0    332.505618    178
MARSH WREN                      7000.0    500.0   3750.000000      2
FALCON                          7000.0      5.0   1140.625000      8
WHITE-CROWNED SPARROW           7000.0    100.0   2179.375000     16
AMERICAN WIGEON                 7000.0     30.0   1350.128205     39
HOUSE SPARROW                   7000.0      5.0    460.240000     25
PINE WARBLER                    7000.0     15.0   2628.750000      4
RED-WINGED BLACKBIRD            7000.0      5.0    554.406250     64
CEDAR WAXWING                   7000.0     10.0   1230.731707     82
WHITE TERN                      7000.0    300.0   2275.000000      4
BRAZILIAN FREE-TAILED BAT       7000.0      5.0    926.214286     70
TREE SWALLOW                    7000.0      1.0    319.793548    155
RED BAT                         7000.0    200.0   1852.173913     23
SAVANNAH SPARROW                7000.0      3.0   1024.730159     63
AMERICAN WHITE PELICAN          6800.0    300.0   2388.235294     17
BROWN PELICAN                   6700.0      7.0    720.342857     35
GADWALL                         6600.0     25.0   1733.500000     30
COMMON LOON                     6600.0    100.0   1640.000000     20
FRANKLIN'S GULL                 6500.0      5.0    739.916667     24
YELLOW-RUMPED WARBLER           6500.0     25.0   1414.795918     49
HOARY BAT                       6500.0     40.0   2738.571429     14
HERMIT THRUSH                   6400.0     35.0   2392.454545     55
AMERICAN WOODCOCK               6200.0     10.0   1205.000000     12
CANADA WARBLER                  6000.0    400.0   2387.500000      8
WHITE-FACED IBIS                6000.0    300.0   2755.000000     10
AMERICAN KESTREL                6000.0      1.0    157.018051    277
ROCK PIGEON                     6000.0      1.0    279.005540    722
SWALLOW                         6000.0      1.0    314.022654    309
LINCOLN'S SPARROW               6000.0    100.0   1450.000000     17
SORA                            6000.0     50.0   1281.818182     11
ORANGE-CROWNED WARBLER          6000.0     20.0   2420.000000      6
MICROBAT                        6000.0     10.0    968.989362     94
YELLOW-CROWNED NIGHT-HERON      6000.0     10.0   1130.000000      6
POCKETED FREE-TAILED BAT        6000.0   6000.0   6000.000000      1
ANHINGA                         6000.0      2.0   1397.750000     20
REDHEAD                         6000.0    500.0   2400.000000      3
BALD EAGLE                      5800.0      2.0    838.473118     93
CINNAMON TEAL                   5600.0   1200.0   3400.000000      2
NORTHERN FLICKER                5500.0     10.0   1330.000000     14
INDIGO BUNTING                  5500.0     50.0   1672.500000      8
AMERICAN PIPIT                  5500.0     10.0    306.718750     32
BROAD-WINGED HAWK               5500.0    200.0   2400.000000     15
UPLAND SANDPIPER                5400.0      2.0    947.296296     27
GREAT EGRET                     5200.0      5.0    825.454545     22
BLACK VULTURE                   5200.0     10.0   1363.653846    130
NORTHERN WATERTHRUSH            5000.0    300.0   1750.000000     10
CHESTNUT-SIDED WARBLER          5000.0    500.0   2171.428571      7
RING-BILLED GULL                5000.0      1.0    326.420849    259
YELLOW-THROATED WARBLER         5000.0     20.0   2510.000000      2
COMMON SWIFT                    5000.0    100.0   2566.666667      3
COMMON TERN                     5000.0    150.0   1816.666667      3
AMERICAN BITTERN                5000.0    200.0   1975.000000      4
GRAY FLYCATCHER                 5000.0   3500.0   4250.000000      2
TENNESSEE WARBLER               5000.0    400.0   2228.571429      7
BAND-TAILED PIGEON              5000.0    300.0   1628.571429      7
EASTERN KINGBIRD                5000.0     10.0   1043.333333      6
AMERICAN REDSTART               5000.0   1000.0   2161.111111      9
HOODED WARBLER                  5000.0    100.0   1733.333333      3
RUDDY DUCK                      5000.0    100.0   1173.684211     19
SCARLET TANAGER                 5000.0    500.0   2475.000000      8
NASHVILLE WARBLER               5000.0    300.0   2037.500000      8
LESSER SCAUP                    5000.0      7.0   1598.280000     25
RED-NECKED GREBE                5000.0   5000.0   5000.000000      1
CATTLE EGRET                    5000.0      3.0    387.400000     65
DOUBLE-CRESTED CORMORANT        4800.0     20.0    846.065574     61
CROW                            4700.0      5.0    457.841463     82
COMMON RAVEN                    4500.0      5.0    588.750000     16
ROSE-BREASTED GROSBEAK          4500.0    500.0   2150.000000      6
WOOD THRUSH                     4500.0     10.0   1975.833333     12
WHITE-TAILED TROPICBIRD         4400.0    200.0   2066.666667     12
VESPER BAT                      4400.0      2.0   1175.846154     26
LAPLAND LONGSPUR                4200.0     10.0    478.269231     26
BUFFLEHEAD                      4200.0    200.0   1440.000000      5
WILSON'S WARBLER                4200.0    100.0   1750.000000      7
BLACK-BILLED CUCKOO             4000.0    700.0   1612.500000      4
BURROWING OWL                   4000.0      5.0    435.785714     14
BROWN-HEADED COWBIRD            4000.0     10.0    618.750000     28
BRANT                           4000.0     10.0   1077.916667     12
SPOTTED TOWHEE                  4000.0   4000.0   4000.000000      1
CANVASBACK                      4000.0    100.0   1440.625000     16
BLACK-HEADED GROSBEAK           4000.0   4000.0   4000.000000      2
BLACK-THROATED BLUE WARBLER     4000.0    500.0   1782.000000      5
BLACK-THROATED GREEN WARBLER    4000.0    200.0   2300.000000      4
HERRING GULL                    4000.0      1.0    375.219653    173
SANDPIPER                       4000.0      2.0    206.589286     56
OSPREY                          4000.0      5.0    385.989362     94
CAVE SWALLOW                    4000.0     10.0    532.777778      9
OVENBIRD                        4000.0     10.0   1750.434783     23
WHITE-WINGED SCOTER             4000.0   4000.0   4000.000000      1
COMMON GRACKLE                  4000.0      5.0    620.789474     38
GRAY-CHEEKED THRUSH             4000.0   3000.0   3600.000000      5
COMMON MOORHEN                  4000.0    500.0   2366.666667      3
WOOD DUCK                       4000.0     30.0   1612.857143     14
BLACKPOLL WARBLER               4000.0     20.0   1494.800000     25
SHARP-SHINNED HAWK              4000.0     10.0   1627.500000      4
SILVER-HAIRED BAT               4000.0    150.0   1225.000000     12
EASTERN TOWHEE                  4000.0    400.0   2225.000000      4
BLACKBURNIAN WARBLER            4000.0    200.0   2400.000000      3
LE CONTE'S SPARROW              3800.0   3800.0   3800.000000      1
BARN OWL                        3700.0      1.0    194.786517     89
RUBY-THROATED HUMMINGBIRD       3600.0     50.0   1106.250000      8
GREEN-TAILED TOWHEE             3600.0   3600.0   3600.000000      1
FINCH                           3500.0      1.0    363.750000     40
TUNDRA SWAN                     3500.0    200.0   1409.090909     11
RING-NECKED DUCK                3500.0    100.0   1600.000000     10
YELLOW-HEADED BLACKBIRD         3500.0   2000.0   2833.333333      3
GREATER SCAUP                   3500.0    300.0   1260.000000      5
SAGE SPARROW                    3500.0     30.0   1510.000000      3
EGRET                           3500.0      3.0    221.826531     98
PAINTED BUNTING                 3500.0   3500.0   3500.000000      1
SONG SPARROW                    3100.0     20.0   1045.800000     25
GREEN-WINGED TEAL               3100.0     80.0   1223.333333     27
EASTERN PIPISTRELLE             3100.0    400.0   1333.333333      3
PEREGRINE FALCON                3000.0      1.0    298.585714     70
FREE-TAILED BATS                3000.0     20.0    666.315789     19
WOOD STORK                      3000.0    100.0   2157.142857      7
LONG-TAILED DUCK                3000.0    500.0   1212.500000      8
WESTERN GULL                    3000.0      2.0    496.516129     31
BIG BROWN BAT                   3000.0     10.0    821.875000     16
YELLOW-BELLIED FLYCATCHER       3000.0   2650.0   2825.000000      2
CLIFF SWALLOW                   3000.0      2.0    275.369099    233
LEAST SANDPIPER                 3000.0     10.0    506.944444     18
COMMON POORWILL                 3000.0    200.0   1600.000000      2
DOVE                            3000.0      1.0    163.525822    213
COMMON NIGHTHAWK                3000.0      3.0    297.891304     46
YELLOW-BREASTED CHAT            3000.0    100.0   1166.666667      3
GREAT HORNED OWL                3000.0      2.0    190.571429     28
WREN                            3000.0     10.0    598.750000     12
AMERICAN GOLDFINCH              3000.0     10.0    644.285714     14
CALIFORNIA GULL                 3000.0     10.0    610.000000     30
SPRAGUE'S PIPIT                 3000.0   1500.0   2250.000000      2
WHITE-EYED VIREO                3000.0    100.0    815.384615     13
GREAT BLUE HERON                3000.0      3.0    307.808081     99
AMERICAN TREE SPARROW           2800.0    300.0   1933.333333      3
GOLDEN EAGLE                    2800.0    200.0   1425.000000      8
PIED-BILLED GREBE               2800.0    200.0   1025.000000      8
CASSIN'S VIREO                  2600.0   2600.0   2600.000000      1
MEADOWLARK                      2500.0      1.0    144.815789     38
NORTHERN PARULA                 2500.0    300.0   1600.000000      3
PALM WARBLER                    2500.0     10.0    907.500000      8
BLACK-AND-WHITE WARBLER         2500.0   1000.0   2000.000000      4
BLACK-CAPPED CHICKADEE          2500.0     10.0    657.500000      4
VIRGINIA RAIL                   2500.0   1000.0   2000.000000      3
BATS                            2500.0     10.0    875.882353     17
GREEN HERON                     2300.0     10.0   1088.333333      6
GOLDEN-CROWNED KINGLET          2200.0     50.0    916.666667      3
BLACK-CROWNED NIGHT-HERON       2000.0      5.0    477.307692     13
EMPEROR GOOSE                   2000.0   2000.0   2000.000000      1
AMERICAN CROW                   2000.0      1.0    324.287671    146
NORTHERN MOCKINGBIRD            2000.0     10.0    590.333333     15
HOODED MERGANSER                2000.0    100.0    995.000000      5
BLUE-HEADED VIREO               2000.0   1500.0   1766.666667      3
COOPER'S HAWK                   2000.0      5.0    475.300000     10
RED-THROATED LOON               2000.0    400.0   1250.000000      4
ANNA'S HUMMINGBIRD              2000.0      5.0    835.000000      3
SHARP-TAILED GROUSE             2000.0     50.0   1025.000000      2
PINE GROSBEAK                   2000.0   2000.0   2000.000000      1
AUSTRALIAN PELICAN              2000.0   2000.0   2000.000000      1
WHITE-TAILED DEER               2000.0      1.0     33.571429     70
GREAT FRIGATEBIRD               2000.0    200.0    800.000000     10
BROWN THRASHER                  2000.0     50.0    640.000000      5
DUNLIN                          1900.0     10.0    343.200000     15
SHORT-BILLED DOWITCHER          1900.0   1200.0   1550.000000      2
ACADIAN FLYCATCHER              1900.0     40.0    970.000000      2
LONG-BILLED DOWITCHER           1800.0    100.0   1033.333333      3
GREAT CRESTED FLYCATCHER        1800.0   1800.0   1800.000000      1
HAIRY WOODPECKER                1800.0   1800.0   1800.000000      1
PRAIRIE FALCON                  1800.0      4.0    604.666667      3
COMMON EIDER                    1800.0    100.0    950.000000      2
LAUGHING GULL                   1750.0      3.0    276.028169     71
MAGNOLIA WARBLER                1700.0    200.0    900.000000      8
ROYAL TERN                      1700.0    150.0    925.000000      2
INCA DOVE                       1700.0      5.0    551.250000      4
ORCHARD ORIOLE                  1500.0   1000.0   1166.666667      3
WORM-EATING WARBLER             1500.0   1500.0   1500.000000      1
PURPLE GALLINULE                1500.0   1500.0   1500.000000      1
CACKLING GOOSE                  1500.0     12.0    651.333333      9
RED-BREASTED MERGANSER          1500.0    800.0   1150.000000      2
CAPE MAY WARBLER                1500.0    800.0   1150.000000      2
GLAUCOUS-WINGED GULL            1500.0      5.0    213.333333     24
MEADOW PIPIT                    1500.0   1500.0   1500.000000      1
TOWNSEND'S WARBLER              1500.0   1200.0   1400.000000      3
AMERICAN BLACK DUCK             1500.0     10.0    458.000000      5
SEMINOLE BAT                    1500.0   1500.0   1500.000000      1
GREAT-TAILED GRACKLE            1400.0     15.0    447.857143      7
LITTLE BLUE HERON               1400.0    300.0    850.000000      2
COMMON SNIPE                    1300.0     10.0    655.000000      2
RED-SHOULDERED HAWK             1300.0     20.0    367.272727     11
SHORT-EARED OWL                 1250.0      5.0    152.083333     36
MEGABATS                        1200.0     20.0    345.000000      6
MAGNIFICENT FRIGATEBIRD         1200.0     75.0    615.625000      8
BLACK-BILLED MAGPIE             1200.0     30.0    443.333333      3
PRAIRIE WARBLER                 1200.0    250.0    725.000000      2
HAWAIIAN HAWK                   1200.0    800.0   1000.000000      2
WHITE-WINGED DOVE               1100.0      2.0    314.500000     16
HOUSE FINCH                     1100.0      1.0    208.931034     29
SOOTY TERN                      1100.0   1000.0   1050.000000      2
SUMMER TANAGER                  1000.0    500.0    750.000000      2
CAROLINA WREN                   1000.0      8.0    339.333333      3
AMERICAN GOLDEN-PLOVER          1000.0     10.0    215.000000      8
SNOW BUNTING                    1000.0      3.0    100.781818     55
SMITH'S LONGSPUR                1000.0    100.0    533.333333      3
BULLOCK'S ORIOLE                1000.0   1000.0   1000.000000      1
BLACK-HEADED GULL               1000.0    620.0    810.000000      2

12) Hoeveel incidenten hebben plaatsgevonden waarbij een dier betrokken was dat begint met de letter 'Z'?

In [ ]:
notnull = strikes[pd.notnull(strikes['Species Name'])]
len(notnull[notnull['Species Name'].str.startswith("Z")])